GITHUB_TOKEN=your_github_token_here
GITHUB_API_URL = "https://api.github.com/{}/{}/{}"
SHIELDS_IO_URL = "https://img.shields.io/badge/stars-{}-{}?style={}&logo=github" # c
COLOR = "brightgreen"
ERROR_COLOR = "lightgrey"
GITHUB_TOKEN = None
CACHE_TTL=600
DB_PATH=store.db
INDEX_PATH=index.db
RATE_LIMIT=10
RATE_LIMIT_COST=2
RATE_LIMIT_PERIOD="minute"